{% extends 'base.html' %}{% block body %}
<section class="checkout-page">
  <div class="container narrow">
    <div class="checkout-card text-center">
      <div class="eyebrow justify-content-center"><i></i> ORDER RECEIVED</div>
      <h1>Thank you.</h1>
      <p class="lead">
        Your payment was received and your order is now being fulfilled!.
      </p>
      <a class="btn btn-brown" href="{{url_for('storefront',slug=store_slug)}}"
        >back to store...</a
      >
    </div>
  </div>
</section>
{% endblock %}
